/* According to color psychology, blue is the most calming color for the mind; 
pink is the most physically soothing and will leave you feeling swaddled. 
Green, the color of nature, is the least demanding of all the colors and is very restful on the eye. 
https://www.lick.com/us/blog/calming-color-palette-for-home */

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: rgb(90, 11, 45);
  background-image: linear-gradient(
    0deg,
    rgb(247, 247, 247) 23.8%,
    rgb(252, 221, 221) 92%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.audio-container {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: white;
  border: 0;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn:focus {
  outline: 0;
}

.audio-info {
  background-color: rgba(240, 124, 124, 0.5);
  border-radius: 10px 10px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  transform: translateY(-100%);
  padding: 10px 20px;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
}
