.index {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background: #f7f0ed;
  color: rgb(90, 11, 45);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  max-width: 100%;
  justify-content: center;
  font-weight: 400;
  font-style: normal;
}

#leftarw {
  float: left;
  font-size: 70px;
  position: relative;
  font-weight: 800;
  color: #e3cdb4;
}

#rightarw {
  float: right;
  font-size: 70px;
  position: relative;
  font-weight: 800;
  color: #e3cdb4;
}

h1 {
  font-size: 37px;
  font-weight: bold;
  color: #5c6264;
}

h2 {
  font-size: 37px;
  font-weight: bold;
  color: #3a3a39;
  padding-top: 2rem;
}

.credits {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background: #f7f0ed;
  color: #3a3a39;
  /* display: flex; */
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  max-width: 100%;
  justify-content: center;
  font-weight: 400;
  font-style: normal;
}

#btn {
  height: 70px;
  width: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  padding-bottom: 2rem;
}

p {
  padding: 2rem;
}
