/* body {
  background-color: rgb(253, 225, 230);
}
h1 {
  color: palevioletred;
}
h2 {
  color: darkgreen;
}
* {
  color: rgb(104, 11, 93);
}
.genshin {
  color: rgb(179, 17, 17);
}
ul > li {
  color: cadetblue;
}

#first-para {
  color: rgb(46, 15, 5);
}
img {
  border: 1px solid #240303;
  border-radius: 4px;
  padding: 3px;
  width: 450px;
}
[data-email] {
  color: rgb(214, 156, 193);
}

body {
  text-align: center;
  border: 4px solid pink;
}

/* wow this is a css comment */
/* 
the reason i chose these styles is bc it reflects the content 
its also absolutely blinding 
(which is funnee)
*/
