body {
  background-color: rgb(253, 225, 230);
}
h1 {
  color: palevioletred;
}
h2 {
  color: darkgreen;
}
h3 {
  color: rgb(213, 25, 25);
}
p {
  color: rgb(128, 12, 12);
}
* {
  color: rgb(104, 11, 93);
}
