* {
  box-sizing: border-box;
}

.header {
  width: 100%;
}

.container {
  position: relative;
  height: auto;
}

body {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
  padding: 10px;
  background: rgb(255, 250, 252);
  color: rgb(74, 3, 34);
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  width: 100%;
  color: #f2f2f2;
  background: rgb(237, 101, 162);
  margin-top: 20px;
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
